body{
	text-transform: uppercase;
	font-family:'Raleway', sans-serif;
	color: rgba(0,0,0,0.8);
	background: ;
	text-align: center;
	letter-spacing: ;
	background: linear-gradient(to right, red, yellow);
}